{% extends 'tracker_app/base.html' %}
{% block body_block %}
<!-- <div class="login-page"> -->

      <div class="wrapper rounded">
  <div class="bg"></div>
          <!-- {% if v_error %} -->
          <div class="login-alert" role="alert">
            <p>{{v_error}}</p>
          <!--  -->
          </div>
          <!-- {% endif %} -->
          <div class="sm-margin">
            <h3>Effort Tracker</h3>
          </div>
          <form  method="POST">
            {% csrf_token %}
            <div class="form-group">

            <input type="text" class="form-control" name="username" id="Username" aria-describedby="emailHelp" placeholder="Username" required>
            </div>
            <div class="form-group">

            <input type="password"  class="form-control" name="password" id="Password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>

          </form>

        </div>

<!-- </div> -->


{% endblock %}
